@import '../node_modules/antd/dist/antd.css';

.login-form {
  max-width: 300px;
  text-align: center;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.new_vehicle_form {
  max-width: unset;
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100vh;
}
#root {
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
